{% extends 'base.html' %}
{% set active_page = 'single_factors' -%}
{% set universe_name = universe_name -%}

{% block header %}
<style>
    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-item {
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        border-color: rgb(189, 167, 167);
    }

    .chart_title {
        margin: 0.5%;
    }

    .chart {
        width: 100%;
        height: 24vw;
        min-width: 600px;
        min-height: 400px;
    }

    .chartDynamicContent {
       text-align: center;
    }

    .chartDynamicContent table {
       margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        border: 1px solid darkgray;
        border-collapse: collapse;
    }

    .chartDynamicContent th, .chartDynamicContent td {
        border: 1px solid darkgray;
        border-collapse: collapse;
    }

    .title_table {
        border: 1px solid;
        border-radius: 4px;
        border-color: rgb(189, 167, 167);
        margin-left: auto;
        margin-right: auto;
    }

    td {
        vertical-align: bottom;
        padding-left: 10px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
<link rel="stylesheet" href="/static/css/tri-state-toggle.css">
<title>{{ universe_name }} - {{ factor_name }}</title>
{% endblock %}

{% block content %}
<table class="title_table">
    <tbody>
        <tr>
            <td>Universe:</td>
            <td>{{ universe_name }}</td>
        </tr>
        <tr>
            <td>Factor Namespace:</td>
            <td>{{ factor_namespace }}</td>
        </tr>
        <tr>
            <td>Factor Backtest Namespace:</td>
            <td>{{ backtest_namespace }}</td>
        </tr>
        <tr>
            <td>Factor Name:</td>
            <td>{{ factor_name }}</td>
        </tr>
        <tr>
            <td>Factor Type:</td>
            <td>{{ factor_type }}</td>
        </tr>
        <tr>
            <td>Group Split Strategy:</td>
            <td>{{ group_split_strategy }}</td>
        </tr>
    </tbody>
</table>
<p style="text-align: center;">
    <a href="{{ factor_doc_href }}">doc</a>
    <a style="margin-left: 1%;" href="{{ factor_correlation_href }}">correlation</a>
</p>
<div style="text-align: center; margin-bottom: 20px;">
    <div class="tri-state-toggle">
        <a class="tri-state-toggle-button {% if request.blueprint=='single_factors_in_sample' %} active {% endif %}"
            id="toggle-button1" href="{{ url_for('single_factors_in_sample.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}">
            In Sample
        </a>
        <a class="tri-state-toggle-button {% if request.blueprint=='single_factors_out_of_sample' %} active {% endif %}"
            id="toggle-button2" href="{{ url_for('single_factors_out_of_sample.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}">
            Out of Sample
        </a>
        <a class="tri-state-toggle-button {% if request.blueprint=='single_factors_total' %} active {% endif %}"
            id="toggle-button3" href="{{ url_for('single_factors_total.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}">
            Total
        </a>
    </div>
</div>
<div style="text-align: center; margin-bottom: 20px;">
    <div class="tri-state-toggle">
        <a class="tri-state-toggle-button {% if view_type == 'view1' %} active {% endif %}"
            id="toggle-button1" 
            {% if request.blueprint=='single_factors_in_sample' %}
            href="{{ url_for('single_factors_in_sample.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% elif request.blueprint=='single_factors_out_of_sample' %}
            href="{{ url_for('single_factors_out_of_sample.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% elif request.blueprint=='factors_total' %}
            href="{{ url_for('single_factors_total.detail', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% endif %}
            >
            View 1
        </a>
        <a class="tri-state-toggle-button {% if view_type == 'view2' %} active {% endif %}"
            id="toggle-button3" 
            {% if request.blueprint=='single_factors_in_sample' %}
            href="{{ url_for('single_factors_in_sample.detail2', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% elif request.blueprint=='single_factors_out_of_sample' %}
            href="{{ url_for('single_factors_out_of_sample.detail2', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% elif request.blueprint=='single_factors_total' %}
            href="{{ url_for('single_factors_total.detail2', universe_name = universe_name, backtest_namespace = backtest_namespace, factor_namespace = factor_namespace, factor_name = factor_name, factor_type = factor_type) }}"
            {% endif %}
            >
            View 2
        </a>
    </div>
</div>
<div class="grid-container">
    <div class="grid-item">
        <table style="margin: 5% auto;">
            <tbody>
                <tr>
                    <td>Factor First Not NaN Date<br />(start date for following calcualtions):</td>
                    <td>{{ factor_first_not_nan_date }}</td>
                </tr>
                <tr>
                    <td>IC Mean:</td>
                    <td>{{ "%.6f"|format(ic_mean) }}</td>
                </tr>
                <tr>
                    <td>Rank IC Mean:</td>
                    <td>{{ "%.6f"|format(rank_ic_mean) }}</td>
                </tr>
                <tr>
                    <td>ICIR:</td>
                    <td>{{ "%.6f"|format(icir) }}</td>
                </tr>
            </tbody>
        </table>

        <table style="margin: 5% auto; text-align: left;">
            <thead>
                <tr>
                    <th></th>
                    <th>Anualized Return</th>
                    <th>Anualized Vol</th>
                    <th>Anualized Sharpe Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Long Short</th>
                    <td>{{ "%.4f"|format(annulized_long_short_return) }}</td>
                    <td>{{ "%.4f"|format(annulized_long_short_return_std) }}</td>
                    <td>{{ "%.4f"|format(annulized_long_short_sharpe_ratio) }}</td>
                </tr>
                {% for index_name in valid_hedge_index_names %}
                <tr>
                    <th scope="row">Top Hedge {{ index_name.upper() }}</th>
                    <td>{{ "%.4f"|format(index_hedges['annulized_top_hedge_' + index_name.lower() + '_return_mean']) }}
                    </td>
                    <td>{{ "%.4f"|format(index_hedges['annulized_top_hedge_' + index_name.lower() + '_return_std']) }}
                    </td>
                    <td>{{ "%.4f"|format(index_hedges['annulized_top_hedge_' + index_name.lower() + '_sharpe_ratio']) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="grid-item">
        <div class="chart_title">Factor Coverage Ratio</div>
        <div id="coverage_chart" class="chart" style="height:400px"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Groups Daily Compound NAV</div>
        <div id="groups_daily_compound_net_chart" class="chart"></div>
        <div id="groups_daily_compound_net_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Groups Daily Sum NAV</div>
        <div id="groups_daily_sum_net_chart" class="chart"></div>
        <div id="groups_daily_sum_net_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Long Short Daily Compound NAV and MDD</div>
        <div id="long_short_group_daily_compound_net_and_mdd_chart" class="chart"></div>
        <div id="long_short_group_daily_compound_net_and_mdd_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Long Short Daily Sum NAV and MDD</div>
        <div id="long_short_group_daily_sum_net_and_mdd_chart" class="chart"></div>
        <div id="long_short_group_daily_sum_net_and_mdd_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    {% for index_name in valid_hedge_index_names %}
    <div class="grid-item">
        <div class="chart_title">Top Group Hedge {{ index_name.upper() }} Index Daily Compound NAV and MDD</div>
        <div id="top_group_hedge_{{ index_name.lower() }}_index_daily_compound_net_and_mdd_chart" class="chart"></div>
        <div id="top_group_hedge_{{ index_name.lower() }}_index_daily_compound_net_and_mdd_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Top Group Hedge {{ index_name.upper() }} Index Daily Sum NAV and MDD</div>
        <div id="top_group_hedge_{{ index_name.lower() }}_index_daily_sum_net_and_mdd_chart" class="chart"></div>
        <div id="top_group_hedge_{{ index_name.lower() }}_index_daily_sum_net_and_mdd_chart_dynamic_content" class="chartDynamicContent"></div>
    </div>
    {% endfor %}
    <div class="grid-item">
        <div class="chart_title">Long Short Monthly Return (%)</div>
        <div id="long_short_group_monthly_return_heatmap_chart" class="chart"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Linear Neutralization Average Coefficients</div>
        <div id="linear_neutralization_average_coefficients_chart" class="chart">
            Factor is not linear neutralized
        </div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Groups Annual Return (%)</div>
        <div id="groups_annual_return_bar_chart" class="chart"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Groups Monthly Average Return (%)</div>
        <div id="groups_monthly_average_return_bar_chart" class="chart"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">IC</div>
        <div id="ic_bar_chart" class="chart"></div>
    </div>
    <div class="grid-item">
        <div class="chart_title">Rank IC</div>
        <div id="rank_ic_bar_chart" class="chart"></div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ coverage_chart_config | safe }}
{{ groups_daily_compound_net_chart_config | safe }}
{{ groups_daily_sum_net_chart_config | safe }}
{{ long_short_group_daily_compound_net_and_mdd_chart_config | safe }}
{{ long_short_group_daily_sum_net_and_mdd_chart_config | safe }}
{{ long_short_group_monthly_return_heatmap_chart_config | safe }}
{{ linear_neutralization_average_coefficients_chart_config | safe }}
{{ groups_annual_return_bar_chart_config | safe }}
{{ groups_monthly_average_return_bar_chart_config | safe }}
{{ ic_bar_chart_config | safe }}
{{ rank_ic_bar_chart_config | safe }}

{% for index_name in valid_hedge_index_names %}
{{ index_hedges['top_group_hedge_' + index_name.lower() + '_index_daily_compound_net_and_mdd_chart_config'] | safe }}
{{ index_hedges['top_group_hedge_' + index_name.lower() + '_index_daily_sum_net_and_mdd_chart_config'] | safe }}
{% endfor %}
{% endblock %}